<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header>
      <ion-card-title>About the app</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      
    <p>This is news app created on the newsapi.org api and Ionic framework</p>
 <p>Created with ❤ by Yash Munjal</p>

    </ion-card-content>
  </ion-card>
</ion-content>
