<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      
      <p><a href="mailto:yashmu45@gmail.com">Mail me</a></p>
      <p>Check other projects at <a href="https://github,.com.yashmunjal">Github</a></p>
      <p>Visit <a href="https://yashmunjal.tech">Portfolio</a> </p>
    </ion-card-content>
  </ion-card>
</ion-content>
